@import 'variables';
@import 'reset';
@import 'utils';

@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-layout {
	@apply border border-solid aspect-square;
	--square-size: 0;
	--border-color: rgba(222, 222, 222, 0.87);

	block-size: 80vmin;
	max-block-size: 800px;
	border-color: var(--border-color);

	.square-grid(var(--square-size));

	.square {
		@apply border-2 border-solid aspect-square;
		.square-grid(var(--square-size));
		border-color: inherit;
	}

	.cell {
		@apply duration-100 ease-in;
		@apply border border-solid aspect-square;
		border-color: inherit;
		container: cell / size;

		.center();

		&:after {
			@apply bg-indigo-600 opacity-0;
			@apply transition-opacity ease-in-out duration-100;
			content: '';
			inline-size: 100%;
			block-size: 100%;
			position: absolute;
			inset: 0;
			z-index: 1;
		}

		&:hover:after {
			@apply opacity-60;
		}

		&:focus {
			@apply outline-0;
		}

		&.active {
			@apply bg-indigo-600;
		}

		.content {
			z-index: 2;
			@apply pointer-events-none;
			font-size: 40cqi;
			line-height: 100%;
		}
	}
}
