@import './base.less';

body {
	color: var(--color-secondary);
	background: var(--color-primary);
	transition: background-color 0.5s ease-out;
}

#app {
	font-weight: normal;
	display: grid;
	place-items: center;
}
